.auctions_body{
 margin-bottom: 10rem;
}

.auctions_body>h1{
 color: #BCB7B7;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 margin: 40px 0;
}

.auctions_body>h2{
 color: #000;
 font-family: Satoshi;
 font-size: 28px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 margin-bottom: 100px;
}

.auctions_body>h1>span{
 color: #333;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
}

/* swiper style */
.swiper {
 width: 100%;
 height: 100%;
}


.swiper-slide {
 text-align: center;
 font-size: 18px;
 /* background: #333; */
 
 /* Center slide text vertically */
 display: flex;
 justify-content: center;
 align-items: center;
}

.swiper-slide img {
 display: block;
 width: 485px;
 height: 396px;
 object-fit: cover;
}

.swiper-custom-pagination{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 40px 0;
}

.top-bids{
 color: #000;
 font-family: Satoshi;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 64px
}

.outer{
 height: 100%;
 width: 100%;
 /* background: url("../../public/assets/Auctions/Rectangle\ 247.png"); */
 object-fit: cover;
 background-size: cover;
 /* background-repeat: no-repeat; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.timer{
 color: #FFF;
 font-family: STIX Two Math;
 font-style: normal;
 font-weight: 400;
 width: 80%;
 padding: 5px 15px;
 border-radius: 8px;
 border: 0.5px solid #FFF;
 background: rgba(245, 244, 244, 0.24);
 backdrop-filter: blur(1.5px);
 margin-bottom: 30px;
}

.auction_top_bids{
 display: flex;
 flex-wrap: wrap;
}

.top_bid_item{
 margin-bottom: 50px;
}

.top_bid_display{
 border-radius: 15px;
 background: #FFF;
 box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
}

.top_bid_heart{
 display: flex;
 justify-content: flex-end;
}

.top_bid_heart>img {
 border: 1px solid #000;
 padding: 15px;
 width: 40px;
 height: 30px;
 border-radius: 50%;
 margin: 10px  20px 10px 0;
}

.top_bid_img>img{
 width: 100%;
}

.top_bid_title{
 display: flex;
 align-items: center;
}

.top_bid_title>h2{
 color: #000;
 font-family: Satoshi;
 font-size: 40px;
 font-style: normal;
 font-weight: 700;
 line-height: 64px;
 margin-left: 20px;
}

.top_bid_texts>p{
 color: #616161;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.top_bid_texts>p>span{
 color: #333;
 font-family: Satoshi;
 font-size: 30px;
 font-style: normal;
 font-weight: 700;
 line-height: 64px;
}

.current_bid{
 border-radius: 10px;
 background: #F6F4F4;
 padding: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.current_bid_text{
 color: #616161;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 700;
}

.current_bid_eth{
 color: #000;
 font-family: Satoshi;
 font-size: 30px;
 font-style: normal;
 font-weight: 700;
 line-height: 64px;
}

.current_bid_two{
 display: flex;
 justify-content: center;
 align-items: center;
}

.current_bid_two>button{
 display: inline-flex;
 justify-content: center;
 align-items: center;
 gap: 5.953px;
 border-radius: 3.682px;
 background: #272727;
 border: 1px solid #272727;
 color: #FFF;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
 line-height: normal;

}

.current_bid{
 display: flex;
}

@media screen and (min-width: 320px) {
  .auctions_body {
    padding: 1rem 1.5rem;
  }

  .top_bid_item {
    width: 100%;
  }

  .swiper-slide.slide {
    max-width: 485px;
    height: 250px;
  }

  .current_bid_two>button {
    padding: 15.049px 20.648px;
    font-size: 12.775px;
  }

  .current_bid_text {
    font-size: 22px;
    line-height: 30px;
  }

  .current_bid_eth{
    font-size: 18px;
    line-height: 30px;
  }

  .top_bid_texts>p,
  .top_bid_texts>p>span {
    font-size: 20px;
    line-height: 30px;
  }

  .timer{
    font-size: 20px;
    line-height: 30px;
  }

  .auction_top_bids {
    justify-content: center;
  }
}

@media screen and (min-width: 360px){
  .swiper-slide.slide {
    max-width: 485px;
    height: 280px;
  }

  .top_bid_texts>p,
  .top_bid_texts>p>span {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .auctions_body {
    padding: 1rem 3rem;
  }

  .top_bid_item{
    width: 500px;
  }

  .swiper-slide.slide {
    max-width: 485px;
    height: 396px;
  }

  .current_bid_text{
    font-size: 30px;
    line-height: 64px;
  }

  .current_bid_two>button{
    padding: 19.049px 69.648px;
    font-size: 25.775px;
  }

  .top_bid_texts>p,
  .top_bid_texts>p>span {
    font-size: 32px;
    line-height: 64px;
  }

  .timer {
    font-size: 40px;
    line-height: 64px;
  }

  
}

@media screen and (min-width: 1024px) {
  .auctions_body {
    padding: 1rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .auction_top_bids {
    justify-content: space-between;
  }

  .swiper-slide.slide {
    max-width: 485px;
    height: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .auctions_body{
    padding: 1rem 7rem;
  }

  .swiper-slide.slide {
    max-width: 485px;
    height: 500px;

  }
}