.photography {
 display:  flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 20px;
}

.scroll__right {
 display: flex;
 width: 300px;
 height: 448px;
 overflow: hidden;
 /* border: 5px solid red; */
 
}

.scroll__right > img{
 width: 300px;
 height: 448px;
 margin: 0 3px;
 animation: scroll__right 15s infinite;
 /* transform: translateX(-200%); */
 background-size: cover;
 object-fit: cover;

}

.scroll__right.second{
 height: 428px;
 margin-top: 20px;
}

.scroll__right.second> img {
 animation: scroll__left 15s infinite;
 height: 428px;
}

.scroll__right.first {
 height: 332px;
 margin: 20px 0;
}

.featured> h2 {
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 font-size: 48px;
 line-height: 65px;
 color: #333333;
}




.featured__contents {
 display: flex;
 flex-direction: column;
 max-width: 500px;
}

.featured__contents>h2{
 font-family: 'STIX Two Text';
 font-weight: 700;
 font-size: 40px;
 line-height: 50px;
 color: #333333;
 margin-top: 0;
}

.featured__contents> p{
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 32px;
 color: #333333;
}


.featured__creators {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.creators__imgs {
 margin-left: 20px;
}

.creators__imgs > img {
 /* display: flex; */
 position: relative;
 margin-left: -20px ;
}

.featured__creators > p {
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 32px;
 color: #333333;
}
.arrow {
 width: 40px;
 height: 40px;
 border: 1px solid #333333;
 border-radius: 50%;
 padding: 10px;
 display: flex;
 align-items: center;
}

.auction {
 padding: 20px;
 background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.auction__title {
 display: flex;
 justify-content: center;
 flex-direction: column;
}



.auction__slider {
 background: url('../../public/assets/Rectangle\ 91.png');
 height: 546px;
 margin: 20px 0;
 display: flex;
 color: #FFFFFF;
}
.slider__div{
 display: flex;
 align-items: flex-end;
 justify-content: space-between;
 width: 100%;
 padding: 30px;
}

.slider_first{
 display: flex;
 align-items: center;
}

.first_contents{
 margin-left: 10px;
}

.first_contents>small {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 font-size: 13.46px;
 line-height: 20px;
 text-transform: uppercase;
 color: #FFFFFF;
}

.slider_first>p{
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 font-size: 15.8576px;
 line-height: 21px;
 letter-spacing: 0.065em;
 text-transform: uppercase
}

.slider__second {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.see_more>a>p {
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 32px;
 text-decoration-line: underline;
 color: #FFFFFF;
}



.btns {
 display:  flex;
 align-items: center;
 justify-content: flex-end;
}

.btn {
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 height: 70px;
 width: 70px;
 margin: 0 10px;
 background: rgba(255, 255, 255, 0.2);
 box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
 backdrop-filter: blur(7.77035px);
}

.explore {
 padding: 200px 0;
}
.explore_item {
 display: flex;
 padding: 20px;
 border-bottom:1px solid #333333;
 justify-content: space-between;
 align-items: center;
}

.explore_item.first {
 border-top: 1px solid #333333;
}

.explore_item>h2 {
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 line-height: 65px;
 color: #333333;
}

.explore_item>img {
 margin-right: 50px;
}

.top_creator {
 background: #E2E2E2;
}

.top_creator_first {
 display: flex;
 justify-content: space-between;
}

.creator_title {
 margin-left: 20px;
}

.top_creator_second{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 
}

.top_creator_second>p{
 max-width: 1000px;
 font-family: 'Clash Display';
 font-style: normal;
 font-weight: 200;
 color: rgba(0, 0, 0, 0.57);
}


.text_over {
 display: flex;
 justify-content: flex-end;
 position: absolute;
 z-index: 2;
 right: 30px;
}

.over_conts>h2 {
 font-family: 'Clash Display';
 font-style: normal;
 font-weight: 700;
 /* line-height: 155.5%; */
 color: #333333;
 text-transform: uppercase;
 margin-left: 100px;
}

.over_conts>h1{
 font-family: 'Clash Display';
 font-style: normal;
 font-weight: 700;
 text-decoration-line: line-through;
 color: #161616;
 margin: 10px;
}




/* animation */
@keyframes scroll__right {
 0% {
  transform: translateX(5px);
 }
 25% {
  transform: translateX(-310px);
 }

 50% {
  transform: translateX(-620px);
 }

 75% {
  transform: translateX(-930px);
 }

 100% {
  transform: translateX(5px);
 }
}

@keyframes scroll__left {
 0% {
  transform: translateX(5px);
 }
 
 25% {
  transform: translateX(-930px);
 }
 
 50% {
  transform: translateX(-620px);
 }
 
 75% {
  transform: translateX(-310px);
 }
 
 100% {
  transform: translateX(5px);
 }
}


@media screen and (min-width: 320px){
  footer{
    padding: 1.5rem;
  }

  .footer__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .featured__item>img {
    width: 100%;
  }

  .photography>h1 {
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin: 2px;
    padding: 0;
    text-align: center;
  }

  .photography>p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 2px;
    padding: 0;
    text-align: center;
  }

  .photography__scroll {
    display: none;
  }

  .auction__title>h2 {
    display: none;
  }

  .first_contents>h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: -22px;
  }

  .slider__second>button {
    width: 102px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
  }

  .slider_first>span {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* line-height: 77px; */
    text-transform: uppercase;
    color: #E1E1E1;
  }

  .woman {
    position: absolute;
    z-index: 3;
    height: 200px;
    /* right: 150px; */
    margin-bottom: 0px;
  }

  .creator_title{
    width: 60%;
  }

  .creator_title>p {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    margin: 3px;
    color: #161616;
    
  }

  .top_creator{
    padding: 0px;
  }

  .creator_segments {
    margin-right: 20px;
    width: 40%;
    display: flex;
    overflow-x: scroll;

  }

  .creator_segments>p {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 62px;
    color: #333333;
    margin-right: 10px;
  }

  .top_creator_second>p {
    font-size: 13px;
    line-height: 16px;
  }

  .over_conts>h1 {
    font-size: 64px;
  }

  .over_conts>h2 {
    font-size: 24px;
  }

  .slider__div {
    flex-direction: column;
  }

  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }


  .newsletter_inner {
    /* border: 1px solid #000000; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 2rem 0;
  }

  .newsletter_inner>h2 {
    font-family: 'Baskervville';
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }



  .newsletter_inner>p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size:11px;
    line-height: 43px;
    text-transform: uppercase;
  }

  .newsletter_input{
    display: flex;
    flex-direction: column;
    
  }

  .newsletter_input>input{
    height: 46px;
  }
  /* .newsletter_inner>input::placeholder{
    text-transform: uppercase;
  } */

  .newsletter_input>button {
    width: 181.635px;
    height: 53.636px;
    margin-top: 1rem;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* identical to box height */
    background: #272727;
    border: 1px solid #333333;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .explore_item>h2 {
    font-size: 24px;
  }

  .explore_item>img{
    width: 34px;
    height: 22px;
  }

  .featured {
    padding: 10px;
  }

  .arrow{
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .featured__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    border-top: 2px solid #333333;
    /* padding: 30px 0; */
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .featured__item{
    margin-bottom: unset;
  }


  .featured__item>img{
    width: initial;
  }

  .slider_first>span {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 67.6122px;
    line-height: 77px;
    text-transform: uppercase;
    color: #E1E1E1;
  }

  .woman {
    position: absolute;
    z-index: 3;
    height: 500px;
    right: 150px;
    margin-bottom: 0px;
  }

  .creator_title>p {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 86px;
    margin: 3px;
    color: #161616;
  }

  .creator_segments {
    margin-right: 20px;
    display: initial;
  }

  .creator_segments>p {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 62px;
    color: #333333;

  }

  .top_creator_second>p{
    font-size: 32px;
    line-height: 42px;
  }

  .over_conts>h2{
   font-size: 48px;
  }

  .over_conts>h1{
    font-size: 170px;
  }

  .slider_first{
    width: 600px;
  }
  
  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem;
  }
  
  
  .newsletter_inner {
    border: 1px solid #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
   
  }
  
  .newsletter_inner>h2 {
    font-family: 'Baskervville';
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }
  
  
  
  .newsletter_inner>p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-transform: lowercase;
  }
  
  .newsletter_input {
    display: flex;
    align-items: center;
   
    flex-direction: row;
  }


  
  .newsletter_input>button {
    width: 181.63px;
    height: 60px;
    margin-left: 1rem;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    background: #272727;
    border: 1px solid #333333;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
  }

  .explore_item>h2{
    font-size: 48px;
  }

  .explore_item>img {
    width: initial;
    height: initial;
  }

  .featured {
    padding: 50px;
  }

  .arrow {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .photography>h1 {
    font-family: 'Clash Display';
    font-weight: 600;
    font-size: 80px;
    margin: 2px;
    padding: 0;
    text-align: unset;
  }

  .photography>p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 156.7%;
    margin: 2px;
    padding: 0;
    text-align: unset;
  }

  .photography__scroll {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .auction__title>h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 2px;
  }

  .first_contents>h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 29.2313px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: -22px;
  }

  .slider__second>button {
    width: 181px;
    height: 62px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }

  .top_creator{
    padding: 50px;
  }

  .auction__title{
   width: 667px;
  }

  .auction__title>h2 {
    display: block;
  }

  .slider__div{
    flex-direction: row;
  }

  .slider__second{
    min-width: 300px;
  }

  .newsletter_input>input {
    width: 446px;
    height: 60px;
  }

}

@media screen and (min-width: 1200px) {
  .featured__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid #333333;
    padding: 30px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 7rem;
  }

  .footer__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer_inner_one>h1 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    color: #292929;
  }

  .footer_inner_four>p,
  .footer_inner_two>p,
  .footer_inner_three>p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #333333;
  }

  .footer_inner_four>p {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .footer_inner_four>p>img {
    margin-right: 20px;
  }

  .footer_inner_one,
  .footer_inner_two,
  .footer_inner_three,
  .footer_inner_four {
    width: 350px;
  }

  .footer_end {
    margin-top: 3rem;
  }

  .footer_end>p {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 88% */

    letter-spacing: -0.02em;

    color: #333333;

    opacity: 0.5;
  }
}

@media screen and (min-width: 1250px) {
  .featured__item.reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1440px) {

}