.itemdetails_body>h1{
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 52px;
 color: #BCB7B7;
}
.itemdetails_body>h1>span{
 color: #333333;
}


.details_title{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 border-bottom: 1px solid #333333;
}

.details_title>p>img{
 margin-right: 10px;
}

.details_cart{
 padding: 10px;
}

.details_cart>small{
 color: #000;
 font-size: 24px;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 400;
}

.details_cart>p{
 color: #616161;
 font-size: 30px;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 400;
}

.details_cart>p>span{
 color: #4693ED;
 font-size: 30px;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.details_cart>h4{
 color: #000;
 font-size: 28px;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.counter_div{
 display: flex;
 /* justify-content: center; */
 align-items: center;
}

.counter_div>button,
.count{
 color: #333;
 font-size: 36px;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.counter_div>button{
 background: transparent;
 border: none;
}

.count{
 margin: 0px 10px;
}
.cart_cta{
 margin: 50px 0;
 display: flex;
 align-items: center;
}

.cart_cta>button{
 display: inline-flex;
 justify-content: center;
 align-items: center;
 gap: 7.501px;
 border-radius: 3.001px;
 background: #272727;
 border: 1px solid #272727;
 color: #FFF;
 font-size: 26px;
 font-family: Inter;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 outline: none;
 margin-right: 20px;
}

.drop_item{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 12px 24px;
 border-top: 1px solid #333;
}

.drop_item>p{
 color: #333;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.item_detail_explore{
 display: flex;
 justify-content: space-between;
 align-items:center;
 border-radius: 15px;
 background: #FFF;
 box-shadow: 4px 4px 64px 0px rgba(0, 0, 0, 0.08);
 margin: 50px 0;
}

.item_detail_explore>h2{
 color: #333;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
}

.explore_btns{
 display: flex;
}

.explore_btns>.explore_btn_div>img{
 /* padding: 25px; */
 /* border-radius: 50%; */
 margin: 0px 10px;
}

.explore_btn_div{
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid #333;
 border-radius: 50%;
}

.explore_one{
 margin-left: 20px;
}

.explore_page_item{
min-width: 500px;
 /* height: 500px; */
 border: 1px solid #333;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* padding: 50px; */
 margin-right: 50px;
}
.explore_img{
 width: 80%;
}

.explore_img>img{
 width: 400px;
 height: 400px;
}

.explore_text{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 80%;
 margin-top: 10px;
 font-family: Satoshi;
 font-size: 32px;
 font-style: normal;
 font-weight: 500;
}

.text_eth{
 display: flex;
 align-items: center;
}

.heart_div{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 width: 80%;
 margin: 10px 0;

}

/* .heart_div>img{
  padding: 0 20px ;
} */

.text_eth>img{
 width: 28px;
 height: 32px;
 margin-right: 10px;
}

.item_detail_slider{
 display: flex;
 justify-content: space-between;
 overflow-x: scroll;
 padding-bottom: 4rem;
}

.item_detail_slider::-webkit-scrollbar{
 display: none;
}

.explore_all{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 4rem 0;
}



@media screen and (min-width: 320px) {
  .item_details {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    /* border: 1px solid #333333; */
  }

  .item_detail_explore>h2{
    font-size: 25px;
  }

  .details_one {
    flex: 1;
    /* background: black; */
    /* padding: 20px; */
    /* height: 50vh; */
    /* border-right: 1px solid #333333; */
  }

  .details_two {
    flex: 1;
    /* background:red; */
    /* height: 50vh; */
  }

  .itemdetails_body {
    padding: 1em;
  }

  .details_one>img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    background-size: cover;
  }

  .cart_cta>button {
    padding: 24.004px 10.765px;
  }

  .details_title>h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
  }

  .details_title>p {
    display: flex;
    align-items: center;
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .details_title>p>img {
    height: 20px;
  }

  .cart_cta>button {
    padding: 5.004px 5.765px;
  }

  .explore_btn_div{
    height: 40px;
    width: 40px;
  }

  .item_detail_explore{
    padding: 25px 18px;
  }

  .drop_item>p{
    font-size: 20px;
  }

  .item_detail_slider{
    padding-left: 2rem;
  }

  .explore_all_cta {
    width: 200px;
    height: 71px;
    border-radius: 16px;
    border: 2px solid #272727;
    color: #272727;
    font-family: Satoshi;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
  }
}

@media screen and (min-width: 350px){
  .cart_cta>button {
    padding: 24.004px 10.765px;
  }
}

@media screen and (min-width: 768px) {
  .cart_cta>button{
    padding: 24.004px 87.765px;
  }

  .details_title>h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
  }

  .details_title>p {
    display: flex;
    align-items: center;
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
  }

  .details_title>p>img {
    height: 40px;
  }

  .item_detail_explore>h2 {
    font-size: 32px;
  }

  .explore_btn_div {
    height: 59px;
    width: 59px;
  }

  .item_detail_explore {
    padding: 40px 20px;
  }

  .drop_item>p {
    font-size: 32px;
  }

  .item_detail_slider {
    padding-left: 7rem;
  }

  .explore_all_cta {
    width: 313px;
    height: 91px;
    border-radius: 16px;
    border: 2px solid #272727;
    color: #272727;
    font-family: Satoshi;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
  }

  .details_one>img{
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1300px) {
  .item_details {
    display: flex;
    flex-direction: initial;
    flex: 1;
    border: 1px solid #333333;
  }

  .details_one {
    flex: 0.45;
    /* background: black; */
    padding: 20px;
    /* height: 50vh; */
    border-right: 1px solid #333333;
  }

  .details_two {
    flex: 0.55;
    /* background:red; */
    /* height: 50vh; */
  }

  .itemdetails_body {
    padding: 1em 7rem;
  }

  .details_one>img {
    height: initial;
  }
}

@media screen and (min-width: 1440px) {

}