.liveauctions>h2>span{
 color: #333;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: 51.5px;
}

.cancel{
 width: 49px;
 height: 49px;
 flex-shrink: 0;
 background-color: rgba(184, 180, 180, 0.49);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
}

.live{
 width: 104px;
 height: 39px;
 flex-shrink: 0;
 border-radius: 20px;
 background: #4693ED;
 color: #FFF;
 font-family: Inter;
 font-size: 20px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 text-transform: uppercase;
 display: flex;
 justify-content: center;
 align-items: center;
}

.display_second{
  display: flex;
  align-items: center;
}

.viewers_count>img{
  width: 15px;
  height: 11px;
}


.display_tag>span{
 color: #FFF;
 font-family: Inter;
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 37px;
  /* 37.824px */
}

.display_bid{
 display: flex;
 justify-content: center;
 align-items: center;
}

.comments_display{
 height: 80%;
 width: 100%;
 overflow-y: scroll;
 /* background: red; */
}

.comments_display::-webkit-scrollbar{
 display: none;
}

.bid_all{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.place_bid{
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
 width: 100%;
}


.place_bid_input{
 display: flex;
 align-items: center;
 width: 70%;
 justify-content: space-between;
 flex: 1;
 padding: 5px;
 border-radius: 25px;
}

.place_bid_input>input{
 width: 83%;
 height: 31px;
 margin-left: 10px;
 border: none;
 display: flex;
 align-items: center;
 outline: none;
}

.place_bid_input>img{
 width: 34px;
 height: 31px;
 margin-right: 10px;
}

.place_bid_input>input::placeholder{
 color: #616161;
 font-family: Satoshi;
 font-size: 22px;
 font-style: normal;
 font-weight: 500;
 line-height: 34px;
 /* 34.672px */
}

.comment_display_item{
 display: flex;
 align-items: center;
}

.commenter_img{
 margin-right: 25px;
}

.auctions_upcoming>p{
 color: #000;
 font-family: Satoshi;
 font-size: 36px;
 font-style: normal;
 font-weight: 500;
 line-height: 64px;
 /* 177.778% */
 margin-right: 20px;
}

.auctions_upcoming>img{
 border: 1px solid #333;
 padding: 30px;
 border-radius: 50%;
}

a{
 text-decoration: none;
}

/* resposiveness */
@media screen and (min-width: 320px){
  .liveauctions>h2 {
   display: none;
  }

  .liveauctions_contents{
    height: 100vh;
  }

  .liveauction_comments {
    display: none;
  }

  .auctions_upcoming {
    display: none;
  }

  .liveauction_display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* flex: 0.5; */
    /* width: 100%; */
    /* background: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
  }

  .display_bid{
    color: #FFF;
    font-family: Satoshi;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
  }
  
  .display_tag {
   display: none;
  }

  .comments_outer{
    height: 40vh;
    padding: 15px;
  }

  .comments_display_mobile{
    height: 75%;
    overflow-y: scroll;
    margin-bottom: 20px;
  }


  .comment_text {
    color: #fff;
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .commenter_name {
    color: #fff;
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 34.672px */
  }

  .commenter_img>img{
    height: 32px;
    width: 32px;
  }

  .place_bid>small {
   display: none;
  }

  .place_bid_input {
    border: 1px solid #fff;
  }

  .place_bid_input>input {
    /* border: 1px solid #fff; */
    background: transparent;
  }

  .place_bid_input>input::placeholder{
    color: #fff;
    font-size: 11px;
    font-weight: 400px;
    line-height: 17px;
  }

  .display_tag_mobile{
    color: #FFF;
    font-family: Satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .display_live {
    display: none;
  }

  .display_live_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .bid_all>img {
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .live_mobile {
    width: 64px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #006CA2;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
  }

  .viewers_count {
    color: #FFF;
    font-family: Satoshi;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 40px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
  }

  .cancel_mobile {
    margin-left: 5px;
  }

  .cancel_mobile>svg{
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 360px){

  .live_mobile{
    margin-left: 7px;
  }
  .cancel_mobile {
    margin-left: 7px;
  }

  .display_tag_mobile {
    color: #FFF;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
}

@media screen and (min-width: 425px){
.live_mobile {
    width: 84px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #006CA2;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
  }

  .viewers_count {
    color: #FFF;
    font-family: Satoshi;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 50px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
  }

  .cancel_mobile {
    margin-left: 15px;
  }

  .display_live_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }
}

@media screen and (min-width: 768px) {
  .live_mobile {
    width: 104px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #006CA2;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 25px;
  }

  .viewers_count {
    color: #FFF;
    font-family: Satoshi;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 60px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
  }

  .cancel_mobile {
    margin-left: 25px;
  }

  .cancel_mobile>svg {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1300px) {
  .liveauctions {
    padding: 100px;
    max-height: 100vh;
  }

  .liveauctions_contents {
    display: flex;
    width: 100%;
    height: 80%;
    flex: 1;
    border: 1px solid #000;
  }

  .liveauctions>h2 {
    color: #BCB7B7;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 51.5px;
    display: initial;
  }

  .liveauction_comments {
    flex: 0.5;
    height: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 20px 0 20px 20px; */
    padding: 0 20px;
  }

  .auctions_upcoming {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .liveauction_display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.5;
    /* width: 100%; */
    height: initial;
    /* background: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
  }

  .display_bid {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 75px;
    /* 75.648px */
  }

  .display_tag {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    padding: 50px;
    display: initial;
  }

  .comment_text {
    color: #333;
    font-family: Satoshi;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }

  .commenter_name {
    color: #333;
    font-family: Satoshi;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 34.672px */
  }

  .commenter_img>img {
    height: 70px;
    width: 70px;
  }

  .place_bid>small {
    display: initial;
    color: #BAB9B9;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 31px;
    /* 31.52px */
  }

  .place_bid_input{
    border: 1px solid black;
  }

  .comments_outer{
    display: none;
  }

  .display_live {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .display_live_mobile {
    display: none;
  }

  .bid_all>img {
    border: 1px solid #000;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .liveauctions {
    padding: 100px;
  }
}