.btn-container {
 /* border-top-left-radius: var(--radius); */
 /* border-top-right-radius: var(--radius); */
 width: 60%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-bottom: 40px;
}

/* .tab-btn:nth-child(1) {
 border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
 border-top-right-radius: var(--radius);
} */

.tab-btn {
 padding: 1rem 0;
 border: none;
 text-transform: capitalize;
 font-size: 1rem;
 display: block;
 /* background: var(--clr-grey-9); */
 cursor: pointer;
 /* transition: var(--transition); */
 /* letter-spacing: var(--spacing); */
}

/* .tab-btn:hover:not(.active) {
 background: var(--clr-primary-10); 
 color: var(--clr-primary-5);
} */


/* hide content */
.content {
 display: none;
}

.tab-btn {
 background: transparent;
 color: #747474;;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 border-bottom: 2px solid #747474;;
}

.tab-btn.active {
 color: #292929;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 border-bottom: 2px solid #292929;
 /* background: var(--clr-white); */
}

.content.active {
 display: block;
}

/* cart item style */
.cart_first{
 display: flex;
 align-items: center;
}

.cart_first_one{
 margin-right: 40px;
}

.cart_first_two{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

/* .shopping_cart_items{
 border-bottom: 1px solid #747474;
} */


.cart_second{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.cart_first_two>p.size{
 color: #888;
 font-family: Satoshi;
 font-size: 20px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.cart_first_two>p.size>span{
 color: #292929;
 font-family: Satoshi;
 font-size: 20px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.cart_first_two>.counter_div{
 color: #292929;
 font-family: Satoshi;
 font-size: 32px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}

.cart_proceed{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.cart_proceed>a {
 color: #272727;
 font-family: Satoshi;
 font-size: 28px;
 font-style: normal;
 font-weight: 500;
 line-height: 44.212px;
 /* 44.212px */
 text-decoration-line: underline;
}

.cart_items_total>p>span.name_content{
 color: #292929;
}

/* shipping details style */
.shipping_details{
 display: flex;
 flex: 1;
 justify-content: space-between;
}

.postal,
.country,
.shipping_input{
 display: flex;
 flex-direction: column;
}



.email_checkbox{
 margin-top: 17px;
 display: flex;
 /* justify-content: center; */
 align-items: center;
}

.email_checkbox>input{
 margin-right: 13px;
 height: 26px;
 width: 26px;
}

.wallet_key_input{
 display: flex;
}

.wallet_key_input>input{
 flex-grow: 1;
 border: 0.5px solid transparent;
 /* border: none; */
 background: #F2F2F2;

}

/* .shipping_input>select{

} */

/* .country{
 margin-right: 2px;
} */

.country,
.postal{
 flex: 0.48;
}

.payment_btn{
 display: flex;
 align-items: center;
 align-items: center;
}

button.payment{
 border-radius: 8px;
 border: 1px solid #272727;
 background: #272727;
 color: #FFF;
 font-family: Satoshi;
 font-style: normal;
 font-weight: 500;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10.228px;
}

.payment_method{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.secure{
 display: flex;
 /* justify-content: center; */
 align-items: center;
}

.secure>img{
 margin-right: 10px;
}

.payment_method_body{
 display: flex;
 flex: 1;
 justify-content: space-between;
}

.save>input{
 width: 26px;
 height: 26px;
 border-radius: 5px;
 background: #D9D9D9;
}

.brief_text{
 display: flex;
 justify-content: center;
 align-items: center;
}

a.confirm{
 display: flex;
 width: 668px;
 padding: 22px 0;
 justify-content: center;
 align-items: center;
 gap: 10px;
 border-radius: 4px;
 background: #272727;
 color: #FFF;
 font-family: Satoshi;
 font-size: 32px;
 font-style: normal;
 font-weight: 500;
 margin-top: 70px;
}

.summary_heading{
 border-bottom: 0.3px solid #747474;
 padding-bottom: 41px;
}

.summary_heading>h2{
 color: #292929;
 font-family: Satoshi;
 font-size: 28px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}

.summary_wallet{
 border-bottom: 0.3px solid #747474;
 padding-top: 39px;
 padding-bottom: 30px;
}

.summary_wallet>h3{
 color: #292929;
 font-family: Satoshi;
 font-size: 26px;
 font-style: normal;
 font-weight: 400;
 line-height: 40.976px;
 /* 40.976px */
}

.summary_wallet>p{
 color: #616161;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 37.824px;
 /* 37.824px */
}


.summary_arrival{
 border-bottom: 0.3px solid #747474;
 padding-top: 47px;
 padding-bottom: 56px;
}

.summary_arrival>p{
 color: #292929;
 font-family: Satoshi;
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 37.824px;
 /* 37.824px */
}

@media screen and (min-width: 320px) {
  /* a.confirm, */
  button.checkout-btn {
    display: inline-flex;
    padding: 22px 60px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #272727;
    border: 1px solid #272727;
    color: #FFF;
    font-family: Satoshi;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .cart_items_total>p {
    display: flex;
    justify-content: space-between;
    color: #888;
    text-align: right;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .about-content {
    /* border-bottom-left-radius: var(--radius); */
    /* border-bottom-right-radius: var(--radius); */
    padding: 3rem 1rem;
  }

  .cart_proceed,
  .cart_items_total {
    flex: 1;
    /* flex-direction: row; */
  }

  .cart_summary {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cart_first_one>img {
    width: 100px;
    height: 100px;
  }

  .cart_first_two>p {
    display: none;
  }

  .cart_first_two>h2 {
    color: #292929;
    font-family: Satoshi;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cart_second>h1 {
    color: #292929;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cart_second>img {
    width: 25px;
    height: 25px;
  }

  .counter_div>button,
  .count {
    color: #333;
    font-size: 20px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
  }

  .cart_item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #747474;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .btn-container-outer {
    display: none;
  }

  .shipping_details_first {
    flex: 1;
  }

  .shipping_details_second {
    display: none;
  }

  a.confirm,
  button.payment {
    width: 100%;
    /* padding: 22px 60px; */
    font-size: 18px;
  }

  .shipping_input>input,
  .shipping_input>select,
  .country>select,
  .country>input,
  .postal>input,
  .wallet_key_input {
    border-radius: 10px;
    border: 0.5px solid #747474;
    background: #F2F2F2;
    height: 46px;
    width: 100%;
  }

  .shipping_input>input::placeholder,
  .postal>input::placeholder,
  .shipping_input>select>optgroup {
    color: #888;
    /* text-align: right; */
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .postal>label,
  .country>label,
  .shipping_input>label,
  .shipping_input>.email_checkbox,
  .shipping_input>select,
  .country> select,
  .country>input::placeholder
   {
    color: #888;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
  }

  .payment_summary {
    display: none;
  }

  .shipping_input {
    margin-bottom: 20px;
  }

  .payment_method>h2 {
   display: none;
  }

  .select_wallet {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
  }

  .select_payment_body {
    /* padding: 30px; */
    /* border-radius: 8px; */
    background: #FFF;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); */
  }

  .secure>small {
    color: #747474;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.824px;
    /* 37.824px */
  }

  .secure>img{
    width: 14px;
    height: 19px;
  }

  .select_text {
    color: #292929;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .brief_text_content>p {
    color: #616161;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.824px;
    /* text-align: center; */
    /* 37.824px */
  }

  .save {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #747474;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .wallet_key_input{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wallet_key_input>img{
    width: 29px;
    height: 29px;
  }

  .wallet_div>img{
    height: 42px;
    width: 42px;
  }

  .shipping_input_split {
    display: flex;
    flex-direction: column;
    /* flex: 1;
    justify-content: space-between;
    margin-bottom: 60px; */
  }
}

@media screen and (min-width: 360px){
  .cart_first_one>img {
    width: 125px;
    height: 126px;
  }
  button.payment,
  button.checkout-btn{
    padding: 22px 80px;
  }
}

@media screen and (min-width: 768px) {
  button.checkout-btn {
    display: inline-flex;
    padding: 22px 80px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #272727;
    border: 1px solid #272727;
    color: #FFF;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .cart_items_total>p {
    display: flex;
    justify-content: space-between;
    color: #888;
    text-align: right;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .about-content {
    /* border-bottom-left-radius: var(--radius); */
    /* border-bottom-right-radius: var(--radius); */
    padding: 3rem 3rem;
  }

  .cart_proceed,
  .cart_items_total {
    flex: 0.5;
    /* flex-direction: row; */
  }

  .cart_summary {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cart_first_one>img{
    width: initial;
    height: initial;
  }

  .cart_first_two>p {
    color: #888;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cart_first_two>p {
    display: block;
  }

  .cart_first_two>h2 {
    color: #292929;
    font-family: Satoshi;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cart_second>h1 {
    color: #292929;
    font-family: Sora;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cart_second>img {
    width: 40px;
    height: 40px;
  }

  .counter_div>button,
  .count {
    color: #333;
    font-size: 36px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
  }

  .cart_item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #747474;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .btn-container-outer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.payment{
    width: 610px;
    font-size: 20px;
  }

  .shipping_input>input,
  .shipping_input>select,
  .country>select,
  .country>input,
  .postal>input,
  .wallet_key_input {
    border-radius: 10px;
    border: 0.5px solid #747474;
    background: #F2F2F2;
    height: 76px;
    width: 100%;
  }

  .shipping_input>input::placeholder,
  .postal>input::placeholder,
  .shipping_input>select>option {
    color: #888;
    /* text-align: right; */
    font-family: Satoshi;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .postal>label,
  .country>label,
  .shipping_input>label,
  .shipping_input>.email_checkbox {
    color: #888;
    font-family: Satoshi;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
  }

  .payment_method>h2 {
    color: #292929;
    font-family: Satoshi;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.128px;
    display: initial;
    /* 44.128px */
  }

  .select_wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .select_payment_body {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .secure>small {
    color: #747474;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.824px;
    /* 37.824px */
  }

  .secure>img {
    width: 20px;
    height: 27px;
  }

  .select_text{
    font-size: 28px;
  }

  .brief_text_content>p {
    color: #616161;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.824px;
    /* text-align: center; */
    /* 37.824px */
  }

  .save {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #747474;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .wallet_key_input>img {
    width: 40px;
    height: 40px;
  }

  .wallet_div>img {
    height: initial;
    width: initial;
  }

  .shipping_input_split {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  button.payment,
  button.checkout-btn {
    display: inline-flex;
    padding: 28px 80px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #272727;
    border: 1px solid #272727;
    color: #FFF;
    font-family: Satoshi;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .cart_items_total>p {
    display: flex;
    justify-content: space-between;
    color: #888;
    text-align: right;
    font-family: Satoshi;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
  }

  .about-content {
    /* border-bottom-left-radius: var(--radius); */
    /* border-bottom-right-radius: var(--radius); */
    padding: 3rem 7rem;
  }

  button.payment{
    padding: 32.729px 119.664px;
    font-size: 32.729px;
  }

  .shipping_input {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1300px){
  button.checkout-btn {
    display: inline-flex;
    padding: 32px 117px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #272727;
    border: 1px solid #272727;
    color: #FFF;
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .shipping_details_first,
  .shipping_details_second {
    flex: 0.48;

  }

  .shipping_details_second {
    display: flex;
  }

  .about-content {
    padding: 3rem 2rem;
  }

  .select_payment_method,
  .payment_summary {
    flex: 0.48;
  }

  .payment_summary{
    display: initial;
  }
}

@media screen and (min-width: 1440px) {
  .about-content {
    padding: 3rem 7rem;
  }
}